---
---

@import "{{ site.theme }}";

.main-content {
    max-width: 100rem;
    .container {
        display: flex;
        .sidebar {
            flex:1;
            width: 25%;
        }
        .content {
            flex:3;
            width: 75%;
        }
    }
}